.global-header {
    box-shadow: none;
    position: relative;
    z-index: 100;
    border-bottom-color: $light-blue-gray;
    @include padding(($baseline*0.75), 0, ($baseline*0.75), 0);
    @include media-up(sm) {
        overflow: visible;
    }

    .nav-links {
        @include padding($baseline*0.75, 0, $baseline*0.75, 0);
        @include media-up(sm) {
            width: 80%;
        }

        .is-authenticated & {
            @include padding($baseline*0.65, 0, $baseline*0.65, 0);
        }

        .main {
            @include margin(0, 0, 0, $baseline*4);

            .nav-item {

                &.nav-tab {
                    font-size: 20px;
                    @include padding(0, $baseline, 0, $baseline);

                    .tab-nav-link {
                        border-width: 2px;
                        color: $charcoal-gray;
                        @include padding($baseline*0.2, 0, $baseline*0.5, 0);
                    }
                }
            }
        }

        .secondary {
            margin: 0;

            .nav-item {
                padding: 0;
                vertical-align: middle;

                .help-link {
                    font-size: 20px;
                    color: $light-gray-blue;

                    &:hover {
                        color: $primary;
                    }
                }

                &.nav-item-dropdown {
                    position: relative;

                    .toggle-user-dropdown {
                        background: $ice-blue-60;
                        border-radius: $border-radius;
                        @include padding($baseline*0.25, $baseline*0.7, $baseline*0.25, $baseline*0.7);

                        .username,
                        .user-image-frame {
                            display: inline-block;
                            vertical-align: middle;
                        }

                        .username {
                            color: $primary;
                            font-family: $font-roboto;
                            font-weight: 500;
                            @include margin-right($baseline*1.3);
                        }

                        .user-image-frame {
                            border-radius: 50%;
                            overflow: hidden;
                            margin: 0;
                            width: 30px;
                            height: 30px;
                            border: none;

                            img {
                                width: 100%;
                                object-fit: cover;
                            }
                        }

                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                    }

                    .dropdown-user-menu {
                        border: none;
                        background: $ice-blue-60-solid;
                        border-radius: $border-radius;
                        width: 100%;
                        min-width: 175px;
                        overflow: hidden;
                        right: 0;
                        top: calc(100% + 5px);
                        box-shadow: 0 1px 5px -1px rgba(0, 0, 0, .3);
                        -webkit-box-shadow: 0 1px 5px -1px rgba(0, 0, 0, .3);
                        -moz-box-shadow: 0 1px 5px -1px rgba(0, 0, 0, .3);

                        .dropdown-nav-item {

                            &:hover {
                                background-color: $ice-blue;

                                a {
                                    color: $primary;
                                }
                            }
                        }
                    }
                }

                &.custom-nav {
                    padding: 0;
                    list-style: none;
                    font-size: 0; //to remove white space between inline HTML elements, and child must have font-size
                    @include margin-right($baseline*0.8);
                    @include media-up(md) {
                        display: inline-block;
                    }

                    li {
                        display: inline-block;
                        margin: 0;
                        @include padding($baseline*0.25, $baseline*1.1, $baseline*0.25, $baseline*1.1);

                        a {
                            font-size: $baseline;
                            text-decoration: none;
                            @include padding($baseline*0.5, 0, $baseline*0.5, 0);

                            &:hover {
                                color: $primary;
                            }
                        }
                    }
                }

                &:last-child {
                    @include margin-right(-1px);
                    @include margin-left($baseline*.25);
                }
            }

            a {

                &.sign-in-btn,
                &.register-btn {
                    font-size: 14px;
                    font-family: $font-roboto;
                    font-weight: 500;
                    @include padding($baseline*0.45, $baseline, $baseline*0.4, $baseline);
                    text-align: center;
                }

                &.sign-in-btn {
                    background-color: $white;
                    border-color: $primary;
                    color: $primary;
                    min-width: $baseline*7;
                    border-radius: $border-radius;

                    &:hover {
                        background-color: $primary;
                        color: $white;
                    }
                }

                &.register-btn {
                    background-color: $primary;
                    border-color: $primary;
                    color: $white;
                    min-width: $baseline*10;
                    border-radius: $border-radius;

                    &:hover {
                        background-color: $white;
                        color: $primary;
                    }
                }
            }
        }
    }
}

.main-header {
    @include clearfix;
    @include padding(0, ($baseline*0.75), 0, ($baseline*0.75));
    margin: auto;
    max-width: $container-default;
    @include media-up(sm) {
        display: table;
        width: 100%;
    }

    > *:not(.hamburger-menu) {
        @include media-up(sm) {
            display: table-cell !important;
            vertical-align: middle;
        }
    }

    .header-logo {
        @include media-up(sm) {
            display: table;
        }

        > * {
            @include media-up(sm) {
                display: table-cell !important;
                float: none !important;
                vertical-align: middle;
            }
        }

        a {
            margin: 0;

            .logo {
                height: ($baseline*2.45);
            }
        }

        .course-header {
            margin: 0;
            @include text-align(left);
            @include padding-left($baseline);
        }
    }
}
