## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from datetime import datetime
  import pytz
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer">
  <footer id="footer-openedx" class="grid-container"
    ## When rendering the footer through the branding API,
    ## the direction may not be set on the parent element,
    ## so we set it here.
    % if bidi:
      dir=${bidi}
    % endif
  >
    <div class="colophon">
      <nav class="nav-colophon" aria-label="${_('About')}">
        <ol>
          <li class="list-title">${_("Open Learning Library")}</li>
          <li><a href="${marketing_link('ABOUT')}">${_("About")}</a></li>
          <li><a href="${marketing_link('COURSES')}">${_("Courses")}</a></li>
          <li><a target="_blank" href="${marketing_link('DONATE')}">${_("Donate")}</a></li>
          <li><a href="mailto:&#109;&#105;&#116;&#111;&#108;&#108;&#045;&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#109;&#105;&#116;&#046;&#101;&#100;&#117;">${_("Help")}</a></li>
        </ol>
        <ul>
          <li class="list-title">${_("Connect")}</li>
          <li>
            <a href="${marketing_link('CONTACT')}">${_("Contact")}</a>
          </li>
          <li>
            <a href="https://twitter.com/mitopenlearning?lang=en" target="_blank">${_("Twitter")}</a>
          </li>
          <li>
            <a href="https://www.facebook.com/mitopenlearning/" target="_blank">${_("Facebook")}</a>
          </li>
        </ul>
      </nav>

      % if context.get('include_language_selector', footer_language_selector_is_enabled()):
          <%include file="${static.get_template_path('widgets/footer-language-selector.html')}"/>
      % endif

    </div>
  </footer>

  <footer id="footer-bottom">
    <div class="container">
      <nav class="nav-legal" aria-label="${_('Legal')}">
        <ul class="list-inline">
          % for item_num, link in enumerate(footer['legal_links'][:-1], start=1):
            <li class="nav-legal-0${item_num}">
              <a href="${link['url']}">${link['title']}</a>
            </li>
          % endfor
        </ul>
      </nav>
      <p class="copyright">&copy; ${_("Massachusetts Institute of Technology,")} ${datetime.now(pytz.timezone(settings.TIME_ZONE)).year}</p>
    </div>
  </footer>
</div>

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
