## mako
<!--
To override this page, add a header.html file in the following
location: {your_theme}/lms/templates/header/header.html

If you do not wish to override the header, you can simply delete
this file from your theme's repository.
-->
<%page expression_filter="h" args="online_help_token"/>
<%namespace name='static' file='static_content.html'/>
<%include file="${static.get_template_path(relative_path='header/header.html')}"  args="online_help_token=online_help_token" />

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500|Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet"/>

<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="${static.url('css/lms-main-v2.css')}"/>

<!-- Scripts -->
<script type="text/javascript" src="${static.url('js/accordion.js')}" charset="utf-8"></script>
