// ------------------------------
// About: Additional sass rules that must come at the end of the compilation for overriding purposes - either for temporary/specific developer styling needs or for known poorly scoped/written styling
//

// #TEMP
// #DEVELOPERS
// #SHAME

// ------------------------------
// #TEMP
// ------------------------------
.course-info {

    .details {
        font-family: $font-family-sans-serif;

        h1, h2, h3, h4, h5, h6,
        p, span, a {
            font-family: $font-family-sans-serif;
        }
    }
}

[class^='wrapper'] {

    .view-dashboard & {
        width: auto;
    }

    &:after {
        .view-dashboard & {
            content: none;
        }
    }
}

.dashboard {

    .side-container {
        min-width: 500px;
        max-width: 500px;

        .sidebar-notification {

            .profile-sidebar {

                .user-info {

                    .status-note {

                        strong {
                            word-break:  break-all;
                        }
                    }
                }
            }
        }
    }
}

#banner-msg {

    p {
        margin: 0;
    }
}

.page-banner {

    .alert {
        border-radius: $border-radius;

        &.alert-warning {
            padding-top: 4px;
        }

        .icon-alert {
            align-self: center;
        }
    }
    .user-messages-ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {

            .alert.alert-warning .message-content .enroll-btn.btn-link {
                color: $primary;
                vertical-align: baseline;
            }
        }
    }
}

.xmodule_display {

    &.xmodule_SequenceModule {

        .sequence-nav {

            ol {

                li {

                    button {

                        &:focus{
                            outline: 0;
                        }
                    }
                }
            }
        }
    }
}

// ------------------------------
// #DEVELOPERS
// ------------------------------
.mt0 {
    margin-top: 0 !important;
}

.course-sidebar {

    .section-dates {

        .date-summary-end-date {

            .description {
                display: none !important;
            }
        }
    }
}

// ------------------------------
// #SHAME
// ------------------------------
.wrapper-account-settings .account-settings-container .account-settings-sections .section .account-settings-section-body .u-field {
    padding: $baseline 0 $baseline*0.5 !important;
}

.account-settings-sections .section .account-settings-section-body .u-field .u-field-order .u-field-order-date,
.account-settings-sections .section .account-settings-section-body .u-field .u-field-order-lines .u-field-order-date {
    width: 30%;
}

.course-bookmarks .bookmarks-results-list .bookmarks-results-list-item {
    @include transition(all 0.3s);
}

.course-bookmarks .bookmarks-results-list .bookmarks-results-list-item:hover {
    background: $ice-blue;
    border-color: $light-blue-gray;
    text-decoration: none;
}

.course-bookmarks .bookmarks-results-list .bookmarks-results-list-item::before {
    color: $primary;
}

.course-bookmarks .bookmarks-results-list .bookmarks-results-list-item:hover .list-item-breadcrumbtrail {
    color: $primary;
}

.course-bookmarks .search-results .search-count {
    font-weight: 600;
}
