// =================================
// lms - views - Terms of Service
// =================================
.tos-block {
    @include media-up(sm) {
        flex: 0 0 70%;
        max-width: 70%;
        @include margin-left(auto);
    }

    .tos-content {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: .5px;
        margin-bottom: $baseline*2;

        a {
            &:hover { color: $rouge; }
        }
    }

    p { margin-bottom: $baseline; }

    h2 {
        font-size: $baseline;
        line-height: 28px;
        letter-spacing: .5px;
        margin-bottom: $baseline;
        text-transform: uppercase;
    }

    .list-bulleted {

        .item {
            line-height: 28px;
            @include margin(0, 0, $baseline*0.85, 0);
        }
    }

    .unstyled-list {
        @include margin-left(45px);
        list-style: none;
    }

}

.tos-sidebar {
    @include media-up(sm) {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .list-divided {
        text-transform: capitalize;

        .item {
            margin: 0;
            padding: 0;
            border-color: $light-blue-gray-70;

            a {
                padding: $baseline*0.75 $baseline*0.5;
                display: block;
                color: $navy;

                &:hover {
                    text-decoration: none;
                    background: rgba($ice-blue, 0.3);
                    color: $rouge;
                }
            }

            &:first-child {

                a {
                    margin-top: -($baseline*0.75);
                }
            }
        }
    }
}
