// ----------------------------
// #UPGRADE
// ----------------------------
$upgrade-color: $primary !default;
$upgrade-dark-color: darken($upgrade-color, 10%) !default;

.btn,
.btn-outline-primary {
    box-shadow: none;
    font-family: $font-roboto !important;
    font-weight: 500 !important;
    letter-spacing: 0.5px !important;
    text-shadow: none;

    &:active,
    &:focus {
        outline: none;
        box-shadow: none !important;
    }
}

.btn-outline-primary {
    background: $white;
    border-color: $primary;
    color: $primary;

    &:hover {
        background: $primary;
        border-color: $primary;
        color: $white;
    }
}

.btn-primary {
    @extend .btn-brand;
    background-color: $primary;
    border-color: $primary;
    border-radius: $border-radius;
    color: $white;
    font-size: 14px;

    &:hover {
        background-color: $white;
        border-color: $primary;
        color: $primary;
    }
}

.btn-link {
    color: $primary;

    &:focus {
        color: $primary !important;
        border-color: transparent !important;
    }

    &:disabled {
        display: inline-block;
    }

    &:hover {
        border-color: transparent;
        color: darken($primary, 5%);
        text-decoration: none !important;
    }
}

.btn-upgrade {
    @extend %btn;

    border-color: $upgrade-color;
    background: $upgrade-color;
    color: palette(primary, x-back);
    text-decoration: none;

    // STATE: hover and focus
    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused {
        border-color: $upgrade-dark-color;
        background: $upgrade-dark-color;
        text-decoration: none;
    }

    // STATE: is pressed or active
    &:active,
    &.is-pressed,
    &.is-active {
        border-color: $upgrade-dark-color;
        background: $upgrade-dark-color;
        text-decoration: none;
    }

    // STATE: is disabled
    &:disabled,
    &.is-disabled {
        border-color: $btn-disabled-border-color;
        background: $btn-disabled-background-color;
        color: $btn-disabled-text-color;
        text-decoration: none;
    }
}
