// lms - views - user/student dashboard
// ====================

// +Dashboard
// ====================
.dashboard {

    .main-container {
        @include padding-left(0);
        @include media-up(sm) {
            width: 60%;
        }
        @include media-down(sm) {
            @include padding-right(0);
        }
    }

    .side-container {
        min-width: 0;
        @include padding-right(0);
        @include media-up(sm) {
            width: 40%;
        }
    }
}
