.course-info {

    .course-sidebar {
        @include media-up(md) {
            padding: 0;
            width: 360px;
            @include float(right);
        }

        .important-dates {

            .important-dates-item {
                border-color: rgba($light-blue-gray, .7);
                border-style: solid;
                border-width: 1px 0 0;
                margin: 0;
                @include padding($baseline*0.85, 0, $baseline*0.85, 0);

                .important-dates-item-title,
                .important-dates-item-text {
                    font-size: 18px;
                    letter-spacing: 0.5px;
                }

                .icon,
                .fa,
                .important-dates-item-title,
                .important-dates-item-text {
                    float: none;
                    display: inline-block;
                    vertical-align: middle;
                }

                .icon,
                .fa {
                    color: $light-gray-blue;
                    opacity: 1;
                    @include margin(0, $baseline*0.4, 0, 0);
                    width: 28px;
                    text-align: center;
                }

                .icon {
                    font-size: 24px;
                }

                .fa {
                    font-size: 20px;
                }

                .important-dates-item-title {
                    color: $blue-gray;
                    @include margin(0, $baseline*0.25, 0, 0);
                }

                .important-dates-item-text {
                    float: none;
                    font-weight: normal;
                }

                &:last-child {
                    border-bottom-width: 1px;
                }

                display: none; // Hide all list items as per design
                &:nth-last-of-type(-n+3) {
                    display: block; // Enable last three items as per design
                }
            }
        }
    }
}
