<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<section class="page-banner" style="background-image: url(https://placehold.it/1900x200);">
    <div class="container">
        <div class="row">
            <div class="col"><h1>About MITx</h1></div>
        </div>
    </div>
</section>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about-block">
        <div class="row">
            <div class="about-content">
                <div class="text-1">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere laboriosam tempora placeat voluptatibus, eligendi officia, in minima. Deserunt ducimus cum quidem ab, expedita iure voluptatibus assumenda beatae quibusdam harum nesciunt?</p>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, laboriosam. Quaerat voluptatem incidunt, ducimus similique. Corporis iusto, nam tempore deserunt dolor. Nemo ab magni, consequuntur sit officia molestias, fuga temporibus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate blanditiis, consequuntur aut beatae rerum cumque unde totam! Nam molestiae totam magni non libero, voluptate quos, blanditiis cumque itaque quaerat eaque!</p>
            </div>
            <div class="socialmedia-area">Social Icons</div>
        </div>
    </section>
</main>
